.top-container{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    text-align: center;
    background-color: #d48787;

}
.current-progres-bar{
    width: 100%;
    height: 10px;
    background-color: #ad0000;
}
.scroll-progres-container{
    width: 100%;
    height: 10px;
    background-color: #0044ff;
}